<a href="https://colab.research.google.com/github/anitharahul01/anitha/blob/main/python_basics_assignment(anitha).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics Assignment

This notebook contains 20 basic Python questions.  
Each question carries **1 mark**. Write your answer in the cell provided.

### Question 1
Write a function that returns the square of a number.

In [ ]:
n=4
square=pow(n,2)
print(square)

16

### Question 2
Write a function that checks whether a number is even.

In [ ]:
# Your code here
def is_even(n):
  if n%2==0:
    return True
  else:
    return False
is_even(521)

False

### Question 3
Write a function to return the maximum of two numbers.

In [ ]:
# Your code here
def max(a,b):
  if a>b:
    return a
  else:
      return b
      pass
max(566,78)

566

### Question 4
Write a function to return the factorial of a number.

In [ ]:

# Your code here
def factorial(n):
    if n==0:
     return 1
    else:
      result=1
      for i in range(1,n+1):
       result*=i
      return result

    pass
factorial(10)

3628800

### Question 5
Write a function to reverse a string.

In [20]:
# Your code here
def reverse(x):
     x=x[::-1]
     return x
     pass
reverse("kichen")

'nehcik'

### Question 6
Write a function to check if a string is a palindrome.

In [37]:
# Your code here
def paliandrome(x):
  if x==x[::-1]:
   print('paliandrome')
  else:
    print("not a paliandrome")

  pass
paliandrome("what")

not a paliandrome

### Question 7
Write a function to count vowels in a string.

In [40]:
# Your code here
def count_vowels(x):
  vowels=("aeioeAEIOU")
  count=0
  for char in x:
    if char in vowels:
      count+=1
  return count
  pass
count_vowels("formykitchen")

3

### Question 8
Write a function that returns the sum of a list.

In [44]:
# Your code here
def sum(list):
  total=0
  for num in list:
    total+=num
  return total
  pass
sum([2,3,4,5,6])

20

### Question 9
Write a function to find the smallest number in a list.

In [69]:
# Your code here
def small_no(x):
  small=x[0]
  for num in x:
    if num<small:
      small=num
  return small
  pass
small_no([6,5,89,333,1,2])

1

### Question 10
Write a function to remove duplicates from a list.

In [100]:
# Your code here
def remove_duplicate(list):
  unique_list=[]
  for item in list:
    if item not in unique_list:
      unique_list.append(item)
  return unique_list
  pass
remove_duplicate([1,5,6,1,8,6,3,6,8])

[1, 5, 6, 8, 3]

### Question 11
Write a function to sort a list in ascending order.

In [107]:
# Your code here
def sort(x):
  y=sorted(x)
  return y
pass
sort([52,62,23,9666,1,6335,56,526])

[1, 23, 52, 56, 62, 526, 6335, 9666]

### Question 12
Write a function that returns the length of a string.

In [111]:
# Your code here
def length(x):
  y=len(x)
  return y
pass
length("hello_welcome")

13

### Question 13
Write a function to count words in a sentence.

In [ ]:
# Your code here
def your_function_13():
    pass

### Question 14
Write a function to convert Celsius to Fahrenheit.

In [ ]:
# Your code here
def your_function_14():
    pass

### Question 15
Write a function to check if a number is prime.

In [ ]:
# Your code here
def your_function_15():
    pass

### Question 16
Write a function to return all even numbers in a list.

In [ ]:
# Your code here
def your_function_16():
    pass

### Question 17
Write a function to return the nth Fibonacci number.

In [ ]:
# Your code here
def your_function_17():
    pass

### Question 18
Write a function to calculate the average of a list.

In [ ]:
# Your code here
def your_function_18():
    pass

### Question 19
Write a function that returns a dictionary of character counts.

In [ ]:
# Your code here
def your_function_19():
    pass

### Question 20
Write a function that returns True if all list elements are unique.

In [ ]:
# Your code here
def your_function_20():
    pass